$primaryColor: #A499D1;
$yellowFromLogo: #FABA35;
$redFromLogocontent: #EA372A;
$blueFromLogo: #00B4E8;
$neutralGrey: rgb(221, 221, 221);
//@ rgba (148, 128, 211, 1) Voilet foncé

$shadow: 0px 10px 29px -9px rgba(117, 116, 117, 1);


// Media screens

$xlarge: 1690px;
$large: 1280px;
$mediumPlus:980px;
$medium: 740px;
$small: 600px;
$xsmall: 480px;