@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Mega&family=Lexend+Tera&family=Montserrat&display=swap');
$titlesFont: 'Lexend Tera',
sans-serif;
$contentFont: 'Montserrat',
sans-serif;


//-------------------Général
body {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, $primaryColor 98%);
    margin: 0;
    padding: 0;
    font-family: $contentFont;
    line-height: 25px;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}


//--------------------------------------Header
header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;

    img {
        height: 70px;
        width: auto;
        padding-top: 20px;
    }
}


//---------------------------------------Home
.home {
    @include flexCenter(center);
    height: 65vh;

    img {
        width: 55%;
        max-height: 75%;
        padding-top: 100px;
    }
}


//----------------------------------------Main
main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    margin-top: -50px;
    border-radius: 3px;

    .welcome {
        text-align: center;

        h1 {
            font-family: $titlesFont;
            font-size: 27px;
            margin: 20px 0 40px 0;
        }

        p {
            font-family: $contentFont;
            font-size: 16px;
        }
    }
}

nav {
    ul {
        list-style-type: none;
        padding-left: 0;
        padding: 40px 0;
        margin-top: 0;
        @include flexCenter(space-around);

        a {
            padding: 10px 20px;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $contentFont;
            font-size: 16px;
            background-color: $yellowFromLogo;
            color: #ffffff;
            border-radius: 3px;
            box-shadow: $shadow;
            ;
        }
    }
}


//----------------------------------------Seasons
#seasons {

    .tabs {
        @include flexCenter(space-between);
        list-style-type: none;
        font-size: 25px;
        padding-left: 0;
        margin-bottom: 50px;

        li {
            //background-color: $neutralGrey;
            border-radius: 3px;
            padding: 10px 25px;
        }

        a {
            text-decoration: none;
            font-family: $contentFont;
            color: inherit;
            height: 100%;
            width: 100%;




        }

        .active {
            border: 1px solid $neutralGrey;
        }
    }


    .tabs__content {
        margin-left: auto;
        margin-right: auto;
        padding: 35px;
        border-radius: 3px;
        border: 1px solid $neutralGrey;
        //background-color: $neutralGrey;
    }

    .tab__content {
        display: none;

        &.active {
            display: block;
        }
    }
}