@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lexend+Mega&family=Lexend+Tera&family=Montserrat&display=swap");
body {
  background: radial-gradient(circle, white 0%, #A499D1 98%);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}
body h2 {
  font-family: "Lexend Tera", sans-serif;
  font-size: 21px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
}
header img {
  height: 70px;
  width: auto;
  padding-top: 20px;
}
@media screen and (max-width: 600px) {
  header img {
    height: 40px;
    width: auto;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 65vh;
}
@media screen and (max-width: 1280px) {
  .home {
    height: 40vh;
  }
}
@media screen and (max-width: 762px) {
  .home {
    height: 30vh;
  }
}
@media screen and (max-width: 622px) {
  .home {
    height: 20vh;
  }
}
@media screen and (max-width: 502px) {
  .home {
    height: 10vh;
  }
}
@media screen and (max-width: 320px) {
  .home {
    height: 5vh;
  }
}
.home img {
  width: 55%;
  max-height: 75%;
  margin-bottom: 0px;
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  margin-top: -5px;
  border-radius: 3px;
}
main .welcome {
  text-align: center;
}
main .welcome h1 {
  font-family: "Lexend Tera", sans-serif;
  font-size: 27px;
  margin: 10px 0 40px 0;
}
@media screen and (max-width: 740px) {
  main .welcome h1 {
    margin-top: 0;
  }
}
main .welcome p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  padding: 40px 0;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  nav ul li:not(:last-child) {
    margin-bottom: 20px;
  }
}
nav ul a {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #FABA35;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 10px 29px -9px #757475;
}
@media screen and (max-width: 650px) {
  nav ul a {
    box-shadow: none;
  }
}

#seasons .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
@media screen and (max-width: 670px) {
  #seasons .tabs {
    flex-direction: column;
  }
}
#seasons .oneToFive,
#seasons .fiveToTen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 25px;
  padding-left: 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 670px) {
  #seasons .oneToFive,
#seasons .fiveToTen {
    margin-bottom: 0px;
  }
}
#seasons .oneToFive li,
#seasons .fiveToTen li {
  border-radius: 3px;
  padding: 10px 25px;
}
@media screen and (max-width: 980px) {
  #seasons .oneToFive li,
#seasons .fiveToTen li {
    padding: 5px 15px;
  }
}
#seasons .oneToFive a,
#seasons .fiveToTen a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: inherit;
  height: 100%;
  width: 100%;
}
#seasons .oneToFive .active,
#seasons .fiveToTen .active {
  border: 1px solid #dddddd;
}
#seasons .tabs__content {
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  border-radius: 3px;
  border: 1px solid #dddddd;
}
#seasons .tab__content {
  display: none;
}
#seasons .tab__content.active {
  display: block;
}

.firstLine,
.secondLine {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 980px) {
  .firstLine,
.secondLine {
    flex-direction: column;
  }
}
.firstLine > div,
.secondLine > div {
  height: 300px;
  width: 33.33%;
  overflow: hidden;
  background-size: 100%;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 1262px) {
  .firstLine > div,
.secondLine > div {
    height: 280px;
  }
}
@media screen and (max-width: 980px) {
  .firstLine > div,
.secondLine > div {
    height: 350px;
    width: 100%;
  }
}
@media screen and (max-width: 719px) {
  .firstLine > div,
.secondLine > div {
    height: 300px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .firstLine > div,
.secondLine > div {
    height: 200px;
    width: 100%;
  }
}
.firstLine > div:hover::after,
.secondLine > div:hover::after {
  background-color: transparent;
}
.firstLine > div::after,
.secondLine > div::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.firstLine > div .buttons,
.secondLine > div .buttons {
  display: none;
}
.firstLine > div .buttons button,
.firstLine > div .buttons a,
.secondLine > div .buttons button,
.secondLine > div .buttons a {
  padding: 10px 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #FABA35;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 10px 29px -9px #757475;
  cursor: pointer;
  border: 2px solid #FABA35;
}
.firstLine > div .buttons button:hover,
.firstLine > div .buttons a:hover,
.secondLine > div .buttons button:hover,
.secondLine > div .buttons a:hover {
  background-color: transparent;
  border: 2px solid #FABA35;
}
.firstLine > div .buttons button:active,
.firstLine > div .buttons a:active,
.secondLine > div .buttons button:active,
.secondLine > div .buttons a:active {
  border: 2px solid #FABA35;
}
.firstLine > div:hover .buttons,
.secondLine > div:hover .buttons {
  display: block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.firstLine .rachel,
.secondLine .rachel {
  background-image: url("images/rachel.jpg");
}
.firstLine .rachel::after,
.secondLine .rachel::after {
  background-color: rgba(148, 128, 211, 0.7);
}
.firstLine .ross,
.secondLine .ross {
  background-image: url("images/ross.jpg");
}
.firstLine .ross::after,
.secondLine .ross::after {
  background-color: rgba(250, 186, 53, 0.7);
}
.firstLine .monica,
.secondLine .monica {
  background-image: url("images/monica.jpg");
}
.firstLine .monica::after,
.secondLine .monica::after {
  background-color: rgba(2, 175, 230, 0.7);
}
.firstLine .joey,
.secondLine .joey {
  background-image: url("images/joey.jpg");
}
.firstLine .joey::after,
.secondLine .joey::after {
  background-color: rgba(2, 175, 230, 0.7);
}
.firstLine .phoebe,
.secondLine .phoebe {
  background-image: url("images/phoebe.jpg");
}
.firstLine .phoebe::after,
.secondLine .phoebe::after {
  background-color: rgba(234, 55, 42, 0.7);
}
.firstLine .chandler,
.secondLine .chandler {
  background-image: url("images/chandler.jpg");
}
.firstLine .chandler::after,
.secondLine .chandler::after {
  background-color: rgba(148, 128, 211, 0.7);
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.modal-wrapper {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
